<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ldm.mapper.ProviceMapper" >

    <resultMap id="BaseResultMap" type="cn.ldm.pojo.Provice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="provice" property="provice" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, provice
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from provice
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from provice
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.ldm.pojo.Provice" >
        insert into provice (id, provice)
        values (#{id,jdbcType=BIGINT}, #{provice,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="cn.ldm.pojo.Provice" >
        insert into provice
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="provice != null" >
                provice,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="provice != null" >
                #{provice,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.ldm.pojo.Provice" >
        update provice
        <set >
            <if test="provice != null" >
                provice = #{provice,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.ldm.pojo.Provice" >
        update provice
        set provice = #{provice,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>